.App {
  min-height: 100vh;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  border: none;
  width: 50%;
  padding: 10px;
}

.search-button {
  background: lightcoral;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
}

.search-button:hover {
  box-shadow: 2px 2px 15px red;
}
